*{
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
}
:root{
    --border: 1px solid #000;
    --text-align: center;
}
nav {
  background-color: #2f4f4f;
  padding: 1rem;
  width: 47.4%;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: navy;
}

main {
  max-width: 736px;
}

main img {
  float: right;
  width: 200px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 30px rgba(0, 34, 255, 0.353);
}

p {
  padding: 0;
}

aside {
  width: 25%;
  margin: 1rem;
  border: var(--border);
  padding: 1rem;
  background-color: #008080;
  color: #333;
  text-align: var(--text-align);
}

aside img {
  width: 200px;
  height: auto;
}


footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

.box1{
  margin: 1rem;
  border: var(--border);
  padding: 1rem;
  background-color: #008080 ;
  color: #000;
}
.box {
  width: 25%;
  border: var(--border);
  padding: 1%;
  background-color: #008080 ;
  color: #000;
  text-align: center;
}

aside h2{
  position: absolute;
  left: 110px;
  color: navy;
}

